@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/mixins" as *;

.aside {
  &__container {
    display: flex;
    height: 4rem;
  }
  &__image {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }
  &__text {
    font-size: 0.813rem;
    color: $primary-black;
    font-weight: bold;
    margin: 0 0 1rem 0;
  }

  &__secondary-text {
    font-size: 0.813rem;
    line-height: 1.25rem;
    margin-top: 0;
    word-break: break-word;
  }
}
