@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.main {
  @include desktop {
    display: flex;
  }
}

.aside {
  &__title {
    color: $silver;
    font-weight: 600;
    margin: 0.3rem 0;
    font-size: 0.75rem;
    line-height: 1.25;
  }
}
