@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__outer-wrapper {
    background: black;
  }

  &__outer-container {
    @include tablet {
      margin: 0 2.25rem;
    }

    @include desktop {
      margin: 0 12.2rem;
    }
  }
}
