@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.video-player {
  background: $secondary-black;
  &__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__outer-wrapper {
    background: $secondary-black;

    @include desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__outer-container {
    @include tablet {
      margin: 0 2.25rem;
    }

    @include desktop {
      margin: 0 11.7rem;
    }
  }
}
