@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
.video {
  &__image {
    width: 100%;
  }

  &__player {
    width: 100%;

    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__outer-container {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__secondary-image {
    width: 1.5rem;
    height: 1rem;
    margin-right: 0.3rem;
    &--margin {
      margin-bottom: 0.7rem;
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: $primary-black;
    margin: 1rem;

    @include tablet {
      font-size: 2.063rem;
      line-height: 2.75rem;
      margin: 2rem 2rem 1.5rem 2rem;
    }
  }

  &__subtitle {
    font-size: 0.813rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: $primary-black;
    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }
  &__copy {
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $silver;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    &--margin {
      margin-top: 0;
    }
  }

  &__text {
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $primary-black;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__container {
    display: flex;
    column-gap: 5rem;
    border-top: 1px solid $mercury;
    border-bottom: 1px solid $mercury;
    margin: 0 1rem;
    @include tablet {
      border-top: none;
    }
  }

  &__inner-container {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__article {
    margin: 0 1rem;
  }
}
