@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  margin: 0 1rem 1rem 1rem;

  @include tablet {
    margin: 0 2.25rem;
    margin-bottom: 2rem;
  }

  @include tablet {
    margin: 0 6.2rem;
    margin-bottom: 2rem;
  }

  @include desktop {
    max-width: 1220px;
    width: 39.6rem;
    margin: 0rem auto;
    margin-bottom: 2rem;
  }

  &__container {
    display: flex;
    border-bottom: 1px solid $mercury;
  }

  &__outer-wrapper {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 0.813rem;
    color: $primary-black;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__secondary-text {
    font-size: 0.813rem;
    line-height: 1.25rem;
    margin-top: 0;
    word-break: break-word;
  }

  &__item {
    font-size: 0.813rem;
    line-height: 1.25rem;
    color: $silver;
  }

  &__image {
    margin: 1rem 1rem 0 0;

    min-width: 2.25rem;
    max-width: 2.25rem;
    background: $mercury;
    height: 38px;
    border-radius: 50%;

    @include tablet {
      min-width: 3rem;
      max-width: 3rem;
      height: 50px;
    }
  }
}
